{% extends 'CvPlatformUserBundle:Profile:show.html.twig' %}
{% block personal_informations%}
<h2>Professional Experiences</h2>
<div class="well">
    <div class="experiences">
        {% for experience in experiences %}
            <div class="experience">
                {{ experience.what }} <a class="btn btn-danger btn-xs" href="{{ path('delete_user_experience', { 'id': experience.id }) }}">delete</a>
            </div>
        {% endfor %}
    </div>
</div>
<div class="well">
    <form method="post" {{ form_enctype(form) }}>
        {{ form_widget(form) }}
        <input type="submit" class="btn btn-primary" />
    </form>
</div>
{% endblock personal_informations%}