{% extends 'CvPlatformUserBundle:Profile:show.html.twig' %}
{% block personal_informations%}
<h2>Langs</h2>
<div class="well">
    <div class="langs">
        {% for lang in langs %}
            <div>{{ lang.lang.libel }} -
                {% for i in 1..lang.level %}
                    ★
                 {% endfor %}
                <a class="btn btn-danger btn-xs" href="{{ path('delete_user_lang', { 'id': lang.id }) }}">delete</a>
            </div>
        {% endfor %}
    </div>
</div>
<div class="well">
    <form method="post" {{ form_enctype(form) }}>
        {{ form_widget(form) }}
        <input type="submit" class="btn btn-primary" />
    </form>
</div>
{% endblock personal_informations%}