{% extends 'CvPlatformUserBundle::layout.html.twig' %}

{% block head_script %}
    {{ parent() }}
    {{ form_javascript(form) }}
    {{ form_stylesheet(form) }}
{% endblock head_script %}

{% block content %}
        <div style="float:left;  width: 140px;">
        {% block sideMenu %}
            {{ mopa_bootstrap_menu(
                    'CvPlatformFrontBundle:Builder:resumeSideMenu',
                        {
                            'automenu': 'pills',
                            'stacked':true
                        })
            }}
        {% endblock sideMenu %}
        </div>
        <div style="padding-left: 200px">
        {% block personal_informations %}
        {% endblock personal_informations %}
        </div>
{% endblock content %}

